@media only screen and (max-width: 1660px) {
  .rules {
    & .group-2 * {
      & > img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1210px) {
  body {
    font-size: 1.4rem;
  }

  .rules {
    & [class^="rules-"] {
      width: 86%;
      margin: 0 7%;
      & > img {
        width: 60%;
      }
    }

    &-1 {
      // important to make sure previous margin is cleared
      margin-bottom: 40px !important;
    }

    &-6 {
      & > img {
        width: 100%;
      }
    }
  }

  .group-1 {
    // to align items in the center
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & * {
      clear: left;
    }
  }
}

@media only screen and (max-width: 640px) {
  .rules {
    & [class^="rules-"] {
      & > img {
        width: 90% !important;
      }
    }
  }
}
