nav {
  background-color: gray;
  @include clearfix;

  & > span {
    float: right;

    & > * {
      color: black;
      background: none;
      border: none;
      text-transform: uppercase;
      height: 50.1px;
      margin: 0 10px;
      cursor: pointer;
      outline: none;

      &:hover {
        color: white;
      }

      &::-moz-focus-inner {
        border: 0;
      }
    }

    & > select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: rgba(0, 0, 0, 0);
      text-shadow: 0 0 0 #000;
      text-align: right;
      text-align-last: right;
      width: 175px;

      &:active,
      &:focus {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0 0 0 #000;
      }

      & > option {
        background-color: black;
        text-transform: capitalize;
        color: white;
        margin-top: 5px;
      }
    }
  }

  & > h3 {
    margin: 10px;
    float: left;
  }
}
