.landing {
  min-height: 110%;
  margin: 30px;
  padding-bottom: 20px;
  background-color: lightgray;
}

.rules {
  & > *:not(:last-child) {
    margin-bottom: 60px;
  }

  // for group 1
  &-1,
  &-2 {
    float: left;
    width: 48%;
    margin: 0 1%;
  }

  // for group 2
  &-3,
  &-4,
  &-5 {
    float: left;
    width: 32%;
  }

  &-4 {
    margin: 0 1%;
  }
}

a {
  &,
  &:link,
  &:visited {
    color: black;
    text-decoration: none;
    outline: none;
  }

  &:hover {
    color: rgb(150, 147, 147);
  }
}

// clear the floats
.group-1,
.group-2 {
  @include clearfix;
}

img {
  margin-top: 10px;
}

#here-link {
  color: rgb(121, 118, 118);
}

#action {
  font-size: 2rem;
  color: black;
  background-color: black;
  color: white;
  border-radius: 50px;
  max-width: 200px;
  margin: 20px auto;
}

#action:hover {
  transform: scale(1.2);
}
