*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* rem set to 10px for simplicity */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: white; }

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #fffe6a; }
  50% {
    transform: scale(1.2);
    background-color: #fffe6a; }
  100% {
    transform: scale(1);
    background-color: #fffe6a; } }

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(3, 78, 13, 0.75);
    border-radius: 100%; }
  50% {
    background-color: rgba(17, 217, 17, 0.75); }
  75% {
    transform: scale(1.2);
    background-color: rgba(50, 247, 24, 0.75); }
  100% {
    transform: scale(1);
    background-color: rgba(141, 255, 141, 0.75); } }

body {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

.landing {
  text-align: center; }
  .landing--header {
    font-family: "Dancing Script", cursive; }
  .landing--intro {
    margin-bottom: 50px; }

.u-mr-auto {
  margin: 0 auto; }

@media only screen and (max-width: 1660px) {
  .rules .group-2 * > img {
    width: 100%; } }

@media only screen and (max-width: 1210px) {
  body {
    font-size: 1.4rem; }
  .rules [class^="rules-"] {
    width: 86%;
    margin: 0 7%; }
    .rules [class^="rules-"] > img {
      width: 60%; }
  .rules-1 {
    margin-bottom: 40px !important; }
  .rules-6 > img {
    width: 100%; }
  .group-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .group-1 * {
      clear: left; } }

@media only screen and (max-width: 640px) {
  .rules [class^="rules-"] > img {
    width: 90% !important; } }

.square {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid steelblue;
  padding: 0;
  margin: 0;
  font-size: 14px;
  counter-reset: steelblue;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.target .start .wall .path .visited {
  color: transparent; }

.start {
  position: relative; }
  .start::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, #39e239, #000);
    border-radius: 100%;
    transform: scale(0.9); }

.target {
  position: relative; }
  .target::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(252, 73, 73, 0.63), #000);
    border-radius: 100%;
    transform: scale(0.9); }

.wall {
  background-color: black; }

.path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; }

.visited {
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; }

nav {
  background-color: gray; }
  nav:after {
    content: "";
    display: block;
    clear: both; }
  nav > span {
    float: right; }
    nav > span > * {
      color: black;
      background: none;
      border: none;
      text-transform: uppercase;
      height: 50.1px;
      margin: 0 10px;
      cursor: pointer;
      outline: none; }
      nav > span > *:hover {
        color: white; }
      nav > span > *::-moz-focus-inner {
        border: 0; }
    nav > span > select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: rgba(0, 0, 0, 0);
      text-shadow: 0 0 0 #000;
      text-align: right;
      text-align-last: right;
      width: 175px; }
      nav > span > select:active, nav > span > select:focus {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0 0 0 #000; }
      nav > span > select > option {
        background-color: black;
        text-transform: capitalize;
        color: white;
        margin-top: 5px; }
  nav > h3 {
    margin: 10px;
    float: left; }

.add {
  color: lightgreen !important; }

.sub {
  color: #e4a4a4 !important; }

.boardRow {
  height: 25px; }

.landing {
  height: 100%;
  margin: 30px;
  background-color: lightgray; }

.rules > *:not(:last-child) {
  margin-bottom: 60px; }

.rules-1, .rules-2 {
  float: left;
  width: 48%;
  margin: 0 1%; }

.rules-3, .rules-4, .rules-5 {
  float: left;
  width: 32%; }

.rules-4 {
  margin: 0 1%; }

a, a:link, a:visited {
  color: black;
  text-decoration: none;
  outline: none; }

a:hover {
  color: #969393; }

.group-1:after,
.group-2:after {
  content: "";
  display: block;
  clear: both; }

img {
  margin-top: 10px; }

#here-link {
  color: #797676; }
